<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690850601272-d423aiqhjj22q1slh3mopea3f0tcgk7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690850601272-d423aiqhjj22q1slh3mopea3f0tcgk7b</string>
	<key>API_KEY</key>
	<string>AIzaSyBtBX6omDC3Z1FJvX-WV7cpy7y6GwfDi1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>690850601272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ameliaesra.currencyexchange</string>
	<key>PROJECT_ID</key>
	<string>money-changer-5fad4</string>
	<key>STORAGE_BUCKET</key>
	<string>money-changer-5fad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690850601272:ios:d8514e9ce43af552</string>
	<key>DATABASE_URL</key>
	<string>https://money-changer-5fad4.firebaseio.com</string>
</dict>
</plist>
